@import 'tailwindcss';

:root {
    --background: white;
    --sidebar: rgb(24, 24, 24);
    --primary: #9fb3df;
    --secondary: #f6f0f0;
    --online: #43a25a;
    --offline: #82838b;
    --gray: #f0f0f0;
}
